<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8"
</head>
<body>
html{
  height:100%;
  width:100%;
  background-color:00FF00;
}
h1{
  color:00FF00;
}
div{
  background-color:000088;
  color:120000;
  width:500px;
  padding: 5px;
  margin:2px;
}
</body>
</html>
