<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8">
</head>
<body>
html{
  height:100%;
  width:100%;
  background-color:0000df;
}
h1{
  color:0baa00;
}
div{
  background-color:00bd02;
  color:004400;
  width:500px;
  padding: 5px;
  margin:2px;
}

</body>
</html>
