<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8">
</head>
<body>
html{
  height:100%;
  width:100%;
  background-color:FF0000;
}
h1{
  color:00FF00;
}
div{
  background-color:000022;
  color:004400;
  width:500px;
  padding: 5px;
  margin:2px;
}

</body>
</html>
