<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8"
</head>
<body>
html{
  height:100%;
  width:100%;
  background-color:00ff00;
}
h1{
  color:00cccc;
}
div{
  background-color:220022;
  color:;
  width:500px;
  padding: 5px;
  margin:2px;
}
</body>
</html>
