<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8"
</head>
<body>
html{
  height:100%;
  width:100%;
  background-color: 123451;
}
h1{
  color:333300
}
div{
  background color:990044;
  color:330000;
  width: 200px;
  padding: 5px;
  border:5px;
  margin:2px;
}
</body>
</html>
