<!DOCTYPE html>
<html> 
<head> 
<meta charset-"UTF-8">
</head>
<body>
html{
  height:100%;
  width:100%;
  background-colour:0000DF;
}
h1{
  color:00FF00;
}
div{
  background-colour:000022;
  colour:004400;
  width:500px;
  padding: 5px;
  margin:2px;
}

</body>
</html>
